<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @student.name %>
  -
  <br>
  <% @student.grades.each do |g|%>
  <br> 
  <%= link_to g.letter, assignment_path %>
  - 
  <%= g.score %>
  <% end %>
</p>

<%= link_to 'Back', :back %>
